@import url('./common.css');

/* 
index.css (common.css)
about.css (common.css)
service.css (common.css) 
*/

/* view height => vh
view width => vw */

main{
    position: relative; height: 100vh; overflow: hidden;
}
.info{
    background-color: rgba(80, 128, 38, 0.5);
    position: absolute;
    left: 0; top: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3%;
}
.info>h2{}
.info>ul{}
.info>ul>li{}
.info>ul>li>b{margin-top: 2rem;}
.info>ul>li>b:before{
    content: '●';
    font-size: .5rem;
    /* vertical-align: middle; */
    /* margin-top: -10px;
    display: inline-block; */
    /* line-height: .3rem; */
    /* transform: translateY(-100%); */
    position: relative; top: -3px;
    padding-right: 10px;
}
/* ㄴ폰트 사이즈는 0.5 이하로는 안 줄어짐 */
/* ㄴbefore 코드는 content가 필수 속성. 없으면 안됨 */
/* ㄴ 인라인 코드라 인라인으로 바꿔줘야 함 */

.info>ul>li>p{ white-space: pre-line;}

.slide{height: 100%;}
.slide>img{width: 100%; height: 100%; object-fit: cover;}

/* 자식이 부모의 width값은 가져가지만 height 값은 안 가져감 */